/********slider********/

.carousel,
.slide {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    height: 100%;
    width: 100%;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.carousel-item img {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.carousel,
.slide a {
    background-color: rgb(43, 42, 42);
}



/********fin slider********/